.navbar .nav > li > a {
  color:#000000;
  padding-left: 10px;
  line-height: 45px;
  padding-top: 7px;
  padding-bottom: 0px;
}

.jumbotron {
	color: #ffffff;
	text-align: center;
	background-color: #000000;
	padding-top: 55px;
	padding-bottom: 10px;
}

.col-md-4 h2{
	text-align: center;
}

table { 
	margin: auto; 
	padding: 0px;
}

td {
	padding: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
} 

.family h2{
	margin-top: 0px;
}

.jumbotron .container a{
	color: white;
}

.jumbotron .container a:hover{
	text-decoration: none;
    color: #1975D1;

}

.jumbotron .container .big-flat-icons td{	
	line-height: 1.8;
}

.jumbotron .container a:hover i:before {
    text-decoration: none;
    color: #1975D1;
}

hr {
	border-color: #000000;
	margin-bottom: 5px;
}

.memberships .member-icon{
	height: 144px;
}











